# Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.csproj
*.sln
*.config
*.resx
ipch/
obj/
[Pp]roperties
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

# Windows image file caches
Thumbs.db
ehthumbs.db
	
# Folder config file
Desktop.ini
	
# Recycle Bin used on file shares
$RECYCLE.BIN/
	
# Mac crap
.DS_Store